{% extends "views/layout.twig" %}

{% block title %}Liste des signalements{% endblock %}

{% block content %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Start Welcome area -->
<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="product-status-wrap drp-lst">
                    <h4>Liste des signalements</h4>
                    
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" role="tab" href="#all">Tous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" href="#apartment">Appartement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" href="#building">Immeuble</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" href="#city">Commune</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="all" role="tabpanel">
                            <table class="table-reports" id="reports-all">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID locataire</th>
                                        <th>Adresse</th>
                                        <th>Etage</th>
                                        <th>N° app</th>
                                        <th>Titre</th>
                                        <th>Categorie</th>
                                        <th>Urgent</th>
                                        <th>Etat</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        
                        <div class="tab-pane fade" id="apartment" role="tabpanel">
                            <table class="table-reports" id="reports-apartment">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID locataire</th>
                                        <th>Adresse</th>
                                        <th>Etage</th>
                                        <th>N° app</th>
                                        <th>Titre</th>
                                        <th>Categorie</th>
                                        <th>Urgent</th>
                                        <th>Etat</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="building" role="tabpanel">
                            <table class="table-reports" id="reports-building">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID locataire</th>
                                        <th>Adresse</th>
                                        <th>Etage</th>
                                        <th>N° app</th>
                                        <th>Titre</th>
                                        <th>Categorie</th>
                                        <th>Urgent</th>
                                        <th>Etat</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="city" role="tabpanel">
                            <table class="table-reports" id="reports-city">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID locataire</th>
                                        <th>Adresse</th>
                                        <th>Etage</th>
                                        <th>N° app</th>
                                        <th>Titre</th>
                                        <th>Categorie</th>
                                        <th>Urgent</th>
                                        <th>Etat</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div id="datepicker"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
function format (d) {

    const photos = [];
    Object.values(d.photos).forEach((file) => {
        const img = "<img src="+file.path+">";
        photos.push(img);
    });

    const datetimePicker = '<div id="datetimepicker"></div>';

    const buttons = '<form id="partner">'+
        '<input value="'+ d._id + '" name="reportId" type="hidden" id="reportId">'+
        '<input id="sms" name="sms" type="checkbox" value="sms">SMS'+
        '&nbsp;<input id="email" name="email" type="checkbox" value="email">Email'+
        '&nbsp;<input id="push" name="push" type="checkbox" value="push">Push'+
        '<br><button type="submit" class="btn btn-primary waves-effect waves-light">Envoyer</button>'+
    '</form>';


    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="table-borderless">'+
        '<tr>'+
            '<td>'+d.description+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>'+photos+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>'+datetimePicker+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>'+buttons+'</td>'+
        '</tr>'+
    '</table>';
}

function showTable(dateFilter) {
    var options = {
        "paging":    false,
        "ordering":  false,
        "info":      false,
        "searching": false,
        "scrollCollapse": true,
        "destroy": true,
        //"select": {
        //    selector:'td:not(:first-child)',
        //},
        "columns": [
            {
                "className":      'details-control fa fa-plus color-blue"',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "resident.id" },
            { "data": "address.street" },
            { "data": "address.additional.floor" },
            { "data": "resident.apartmentId" },
            { "data": "subject" },
            { "data": "category" },
            { "data": "isUrgent" },
            { "data": "status" }
        ]
    };

    const dateFilterQuery = "date=" + dateFilter;

    const allReportsOptions = Object.assign({ "ajax": "/api/reports?"+dateFilterQuery }, options);
    var allReports = $('#reports-all').DataTable(allReportsOptions);

    const apartmentReportsOptions = Object.assign({ "ajax": "/api/reports?scope=Appartement&"+dateFilterQuery }, options);
    var apartmentReports = $('#reports-apartment').DataTable(apartmentReportsOptions);

    const buildingReportsOptions = Object.assign({ "ajax": "/api/reports?scope=Immeuble&"+dateFilterQuery }, options);
    var buildingReports = $('#reports-building').DataTable(buildingReportsOptions);

    const cityReportsOptions = Object.assign({ "ajax": "/api/reports?scope=Commune&"+dateFilterQuery }, options);
    var cityReports = $('#reports-city').DataTable(cityReportsOptions);

    const tableReports = {
        "reports-all": allReports, 
        "reports-apartment": apartmentReports, 
        "reports-building": buildingReports, 
        "reports-city": cityReports
    };

    $('table.table-reports tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        
        var tableElt = $(this).closest('table');
        var tableId = tableElt.attr('id');

        var table = tableReports[tableId];

        var row = table.row(tr);

        if (row.child.isShown()) {
            row.child.hide();
        } else {
            row.child( format(row.data()) ).show();
            $('#datetimepicker').datetimepicker({
                inline: true,
                sideBySide: true
            });

            $("form#partner").submit(function(e) {
                e.preventDefault();
                var id = $("#reportId").val();

                $.ajax({
                    type: "POST",
                    url: "/reports/update/"+ id,
                    success: function() { console.log('report updated'); location.reload();}
                });

                
            });
        }

        $(this)
            .toggleClass('fa-minus')
            .toggleClass('fa-plus');
    });
}

$(document).ready(function() {
    $('#datepicker').datepicker({
        format: 'mm/dd/yyyy',
        language: 'fr'
    })
    .on('changeDate', function (e) {
        const dateSelected = e.format('yyyy-mm-dd');
        showTable(dateSelected);
    });

    showTable();
});

</script>
{% endblock %}