{% extends "views/layout.twig" %}

{% block title %}Ajouter un signalement{% endblock %}

{% block content %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="review-content-section">
                    <div id="dropzone1" class="pro-ad">
                        <form action="/report" method="POST" class="dropzone dropzone-custom needsclick add-professors" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        <label for="subject">Titre</label>
                                        <input id="subject" name="subject" type="text" class="form-control" placeholder="Titre" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <input id="description" name="description" type="text" class="form-control" placeholder="Description">
                                    </div>
                                    <div class="form-group">
                                        <label>Information du locataire</label>
                                        <input id="residentId" name="residentId" type="text" class="form-control" placeholder="Identifiant du locataire" required>
                                        <input id="apartmentId" name="apartmentId" type="text" class="form-control" placeholder="Numero d'appartement" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Localisation</label>
                                        <input id="streetAddress" name="streetAddress" type="text" class="form-control" placeholder="N° et nom de rue" required>
                                        <input id="cityAddress" name="cityAddress" type="text" class="form-control" placeholder="Ville" required>
                                        <input id="zipcodeAddress" name="zipcodeAddress" type="text" class="form-control" placeholder="Code postal" required>
                                        <input id="floorAddress" name="floorAddress" type="text" class="form-control" placeholder="Numero de l'étage">
                                        <input id="stairAddress" name="stairAddress" type="text" class="form-control" placeholder="Identifiant de l'escalier">
                                    </div>

                                    <div class="form-group">
                                        <label for="zone">Echelle</label>
                                        <select class="form-control" id="scope" name="scope" rerquired>
                                            <option value="" selected>Sélectionner une échelle</option>
                                            <option value="Appartement">Appartement</option>
                                            <option value="Immeuble">Immeuble</option>
                                            <option value="Commune">Commune</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="zone">Categorie</label>
                                        <select class="form-control" id="category" name="category" rerquired>
                                            <option value="" selected>Sélectionner une categorie</option>
                                            <option value="Electricité">Electricité</option>
                                            <option value="Eclairage">Eclairage</option>
                                            <option value="Ascenseur">Ascenseur</option>
                                            <option value="Plomberie">Plomberie</option>
                                            <option value="Sécurité">Sécurité</option>
                                            <option value="Etancheité">Etancheité</option>
                                            <option value="Vitrage">Vitrage</option>
                                            <option value="Humidite">Humidite</option>
                                            <option value="Air de jeu">Air de jeu</option>
                                            <option value="Insalubrité">Insalubrité</option>
                                            <option value="Autres">Autres</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>
											<input id="isUrgent" name="isUrgent" type="checkbox" class="i-checks" value="1"> Urgent
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="photos">Sélectionnez une ou plusieurs photos</label>
                                        <input id="photos" name="photos" type="file" class="input-default-js" data-multiple-target="{target} photos selectionnées" multiple>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}