<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" style="width: 45px; border-radius: 30px;" src="/img/logo/logo-ytizen-blue.png" alt="" /></a>
            <strong><a href="index.html"><img style="width: 45px; border-radius: 30px;" src="/img/logo/logo-ytizen-blue.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a href="/reports"><span class="educate-icon educate-menu icon-wrap"></span> <span class="mini-click-non">Signalements</span></a>
                    </li>
                    <li>
                        <a class="has-arrow" href="/collaborators" aria-expanded="false"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Collaborateurs</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Collaborateurs" href="/collaborators"><span class="mini-sub-pro">Collaborateurs</span></a></li>
                            <li><a title="Ajouter un collaborateur" href="/collaborator/add"><span class="mini-sub-pro">Ajouter un collaborateur</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="/partners" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Partenaires</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Partenaires" href="/partners"><span class="mini-sub-pro">Partenaires</span></a></li>
                            <li><a title="Ajouter un partenaire" href="/partners/add"><span class="mini-sub-pro">Ajouter un partenaire</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->