<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      
      <title>{% block title %}{% endblock %} - Ytizen</title>
      
      <meta name="description" content="">
      <meta name="csrf-token" content=_csrf/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon
      ============================================ -->
      <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
      <!-- Google Fonts
      ============================================ -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
      <!-- Bootstrap CSS
      ============================================ -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Bootstrap CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <!-- owl.carousel CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/owl.carousel.css">
      <link rel="stylesheet" href="/css/owl.theme.css">
      <link rel="stylesheet" href="/css/owl.transitions.css">
      <!-- animate CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/animate.css">
      <!-- normalize CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/normalize.css">
      <!-- meanmenu icon CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/meanmenu.min.css">
      <!-- main CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/main.css">
      <!-- educate icon CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/educate-custon-icon.css">
      <!-- morrisjs CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/morrisjs/morris.css">
      <!-- mCustomScrollbar CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
      <!-- metisMenu CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
      <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css?dfd">
      <!-- calendar CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
      <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
      <!-- datapicker CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/datapicker/colorpicker.css">
      <link rel="stylesheet" href="/css/datapicker/datepicker3.css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
      <!-- style CSS
      ============================================ -->
      <link rel="stylesheet" href="/style.css?f4f5">
      <!-- responsive CSS
      ============================================ -->
      <link rel="stylesheet" href="/css/responsive.css">
      <!-- modernizr JS
      ============================================ -->
      <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    {% endblock %}
  </head>

  <body>
    {% include 'views/partials/left-sidebar.twig' %}
        <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <!-- Start Welcome area -->
      <div class="all-content-wrapper">

          <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="logo-pro">
                      <a href="index.html"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="header-advance-area">
          <div class="header-top-area">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="header-top-wraper">
                              <div class="row">
                                  <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                      <div class="menu-switcher-pro">
                                          <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                  <i class="educate-icon educate-nav"></i>
                                              </button>
                                      </div>
                                  </div>

                                  <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                  </div>

                                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                      <div class="header-right-info">
                                          <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                              <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-bell" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                  <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                      <div class="notification-single-top">
                                                          <h1>Notifications</h1>
                                                      </div>
                                                      <ul class="notification-menu">
                                                          <li>
                                                              <a href="#">
                                                                  <div class="notification-icon">
                                                                      <i class="educate-icon educate-checked edu-checked-pro admin-check-pro" aria-hidden="true"></i>
                                                                  </div>
                                                                  <div class="notification-content">
                                                                      <span class="notification-date">16 Sept</span>
                                                                      <h2>Advanda Cro</h2>
                                                                      <p>Please done this project as soon possible.</p>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">
                                                                  <div class="notification-icon">
                                                                      <i class="fa fa-cloud edu-cloud-computing-down" aria-hidden="true"></i>
                                                                  </div>
                                                                  <div class="notification-content">
                                                                      <span class="notification-date">16 Sept</span>
                                                                      <h2>Sulaiman din</h2>
                                                                      <p>Please done this project as soon possible.</p>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">
                                                                  <div class="notification-icon">
                                                                      <i class="fa fa-eraser edu-shield" aria-hidden="true"></i>
                                                                  </div>
                                                                  <div class="notification-content">
                                                                      <span class="notification-date">16 Sept</span>
                                                                      <h2>Victor Jara</h2>
                                                                      <p>Please done this project as soon possible.</p>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">
                                                                  <div class="notification-icon">
                                                                      <i class="fa fa-line-chart edu-analytics-arrow" aria-hidden="true"></i>
                                                                  </div>
                                                                  <div class="notification-content">
                                                                      <span class="notification-date">16 Sept</span>
                                                                      <h2>Victor Jara</h2>
                                                                      <p>Please done this project as soon possible.</p>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                      </ul>
                                                      <div class="notification-view">
                                                          <a href="#">Voir toutes les notifications</a>
                                                      </div>
                                                  </div>
                                              </li>
                                              <li class="nav-item">
                                                  <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                          <img src="/img/product/pro4.jpg" alt="" />
                                                          <span class="admin-name">Jules Daniel</span>
                                                          <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                      </a>
                                                  <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                      <li><a href="#"><span class="edu-icon edu-user-rounded author-log-ic"></span>Mon profil</a>
                                                      </li>
                                                      <li><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Paramètres</a>
                                                      </li>
                                                      <li><a href="#"><span class="edu-icon edu-locked author-log-ic"></span>Déconnexion</a>
                                                      </li>
                                                  </ul>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Mobile Menu start -->
          <div class="mobile-menu-area">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="mobile-menu">
                              <nav id="dropdown">
                                  <ul class="mobile-menu-nav">
                                      <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul class="collapse dropdown-header-top">
                                              <li><a href="index.html">Dashboard v.1</a></li>
                                              <li><a href="index-1.html">Dashboard v.2</a></li>
                                              <li><a href="index-3.html">Dashboard v.3</a></li>
                                              <li><a href="analytics.html">Analytics</a></li>
                                              <li><a href="widgets.html">Widgets</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="events.html">Event</a></li>
                                      <li><a data-toggle="collapse" data-target="#demoevent" href="#">Professors <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="demoevent" class="collapse dropdown-header-top">
                                              <li><a href="all-professors.html">All Professors</a>
                                              </li>
                                              <li><a href="add-professor.html">Add Professor</a>
                                              </li>
                                              <li><a href="edit-professor.html">Edit Professor</a>
                                              </li>
                                              <li><a href="professor-profile.html">Professor Profile</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#demopro" href="#">Students <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="demopro" class="collapse dropdown-header-top">
                                              <li><a href="all-students.html">All Students</a>
                                              </li>
                                              <li><a href="add-student.html">Add Student</a>
                                              </li>
                                              <li><a href="edit-student.html">Edit Student</a>
                                              </li>
                                              <li><a href="student-profile.html">Student Profile</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#democrou" href="#">Courses <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="democrou" class="collapse dropdown-header-top">
                                              <li><a href="all-courses.html">All Courses</a>
                                              </li>
                                              <li><a href="add-course.html">Add Course</a>
                                              </li>
                                              <li><a href="edit-course.html">Edit Course</a>
                                              </li>
                                              <li><a href="course-profile.html">Courses Info</a>
                                              </li>
                                              <li><a href="course-payment.html">Courses Payment</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#demolibra" href="#">Library <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="demolibra" class="collapse dropdown-header-top">
                                              <li><a href="library-assets.html">Library Assets</a>
                                              </li>
                                              <li><a href="add-library-assets.html">Add Library Asset</a>
                                              </li>
                                              <li><a href="edit-library-assets.html">Edit Library Asset</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#demodepart" href="#">Departments <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="demodepart" class="collapse dropdown-header-top">
                                              <li><a href="departments.html">Departments List</a>
                                              </li>
                                              <li><a href="add-department.html">Add Departments</a>
                                              </li>
                                              <li><a href="edit-department.html">Edit Departments</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#demomi" href="#">Mailbox <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="demomi" class="collapse dropdown-header-top">
                                              <li><a href="mailbox.html">Inbox</a>
                                              </li>
                                              <li><a href="mailbox-view.html">View Mail</a>
                                              </li>
                                              <li><a href="mailbox-compose.html">Compose Mail</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                              <li><a href="google-map.html">Google Map</a>
                                              </li>
                                              <li><a href="data-maps.html">Data Maps</a>
                                              </li>
                                              <li><a href="pdf-viewer.html">Pdf Viewer</a>
                                              </li>
                                              <li><a href="x-editable.html">X-Editable</a>
                                              </li>
                                              <li><a href="code-editor.html">Code Editor</a>
                                              </li>
                                              <li><a href="tree-view.html">Tree View</a>
                                              </li>
                                              <li><a href="preloader.html">Preloader</a>
                                              </li>
                                              <li><a href="images-cropper.html">Images Cropper</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="Chartsmob" class="collapse dropdown-header-top">
                                              <li><a href="bar-charts.html">Bar Charts</a>
                                              </li>
                                              <li><a href="line-charts.html">Line Charts</a>
                                              </li>
                                              <li><a href="area-charts.html">Area Charts</a>
                                              </li>
                                              <li><a href="rounded-chart.html">Rounded Charts</a>
                                              </li>
                                              <li><a href="c3.html">C3 Charts</a>
                                              </li>
                                              <li><a href="sparkline.html">Sparkline Charts</a>
                                              </li>
                                              <li><a href="peity.html">Peity Charts</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="Tablesmob" class="collapse dropdown-header-top">
                                              <li><a href="static-table.html">Static Table</a>
                                              </li>
                                              <li><a href="data-table.html">Data Table</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="formsmob" class="collapse dropdown-header-top">
                                              <li><a href="basic-form-element.html">Basic Form Elements</a>
                                              </li>
                                              <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                              </li>
                                              <li><a href="password-meter.html">Password Meter</a>
                                              </li>
                                              <li><a href="multi-upload.html">Multi Upload</a>
                                              </li>
                                              <li><a href="tinymc.html">Text Editor</a>
                                              </li>
                                              <li><a href="dual-list-box.html">Dual List Box</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                              <li><a href="basic-form-element.html">Basic Form Elements</a>
                                              </li>
                                              <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                              </li>
                                              <li><a href="password-meter.html">Password Meter</a>
                                              </li>
                                              <li><a href="multi-upload.html">Multi Upload</a>
                                              </li>
                                              <li><a href="tinymc.html">Text Editor</a>
                                              </li>
                                              <li><a href="dual-list-box.html">Dual List Box</a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                          <ul id="Pagemob" class="collapse dropdown-header-top">
                                              <li><a href="login.html">Login</a>
                                              </li>
                                              <li><a href="register.html">Register</a>
                                              </li>
                                              <li><a href="lock.html">Lock</a>
                                              </li>
                                              <li><a href="password-recovery.html">Password Recovery</a>
                                              </li>
                                              <li><a href="404.html">404 Page</a></li>
                                              <li><a href="500.html">500 Page</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Mobile Menu end -->
      </div>

      {% block content %}
      {% endblock %}

      <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>© 2019. Powered by <a href="http://ytizen.com" target="_blank">Ytizen</a></p>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>

    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- popper
		============================================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="/js/tawk-chat.js"></script>
    <!-- Datapicker JS
		============================================ -->
    <script src="/js/datapicker/bootstrap-datepicker.min.js"></script>
    <script src="/js/datapicker/datepicker-active.js"></script>
    <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    <!-- Datatable JS
		============================================ -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    {% block script %}
    {% endblock %}
  </body>
</html>