{% extends "views/layout.twig" %}

{% block title %}Liste des partenaires{% endblock %}

{% block content %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Start Welcome area -->
<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst">
                    <h4>Liste des partenaires</h4>
                    <div class="add-product">
                        <a href="/partners/add">Ajouter un partenaire</a>
                    </div>
                    <div class="asset-inner">
                        <table>
                            <tr>
                                <th>Entreprise</th>
                                <th>Nom du contact</th>
                                <th>Téléphone</th>
                                <th>Zône</th>
                                <th>Categorie</th>
                                <th>Avis</th>
                                <th></th>
                            </tr>
                            {% for partner in partners %}
                                <tr>
                                    <td>{{ "<i class='fa fa-circle color-blue'></i> " ~ partner.companyName }}</td>
                                    <td>{{ partner.contactName }}</td>
                                    <td>{{ partner.phone }}</td>
                                    <td>{{ partner.zones|join(', ') }}</td>
                                    <td>{{ partner.category }}</td>

                                    {% set rating = partner.rating %}
                                    {% set ratingValue = "" %}

                                    {% if rating %}
                                        {% for i in 1..rating %}
                                            {% set ratingValue = ratingValue ~ "<i class='fa fa-star color-blue'></i>" %}
                                        {% endfor %}
                                        {% for i in 1..(5 - rating) %}
                                            {% set ratingValue = ratingValue ~ "<i class='fa fa-star color-gray'></i>" %}
                                        {% endfor %}
                                    {% endif %}

                                    <td>{{ ratingValue }}</td>

                                    <td>
                                        {% set partnerId = partner._id %}
                                        {% set modalId = "updatePartnerForm-" ~ partner._id %}
                                        {% set zonesId = "zones-" ~ partner._id %}
                                        {% set action = "/partners/update/" ~ partner._id %}

                                        <button data-toggle="modal" data-id="{{ partnerId }}" title="Modifier" data-target="#{{ modalId }}" class="update-partner pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                        <div id="{{ modalId }}" class="modal modal-edu-general modal-zoomInDown fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="modal-login-form-inner">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="basic-login-inner modal-basic-inner">
                                                                        <h3>Modifier un partenaire</h3>
                                                                        <form action="{{ action }}" method="POST">

                                                                            <input type="hidden" id="id" name="id" value="{{ partnerId }}" />
                                                                            
                                                                            <div class="form-group">
                                                                                <label for="{{ zonesId }}">Zones</label>
                                                                                <br />
                                                                                <select multiple class="form-control" id="{{ zonesId }}" name="{{ zonesId }}" required>
                                                                                    <option value="Zone A">Zone A</option>
                                                                                    <option value="Zone B">Zone B</option>
                                                                                    <option value="Zone C">Zone C</option>
                                                                                    <option value="Zone D">Zone D</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="login-btn-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                                        <div class="login-horizental">
                                                                                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                                                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Confirmer</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}