{% extends "views/layout.twig" %}

{% block title %}Ajouter un partenaire{% endblock %}

{% block content %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="review-content-section">
                    <div id="dropzone1" class="pro-ad">
                        <form action="/partner" method="POST" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        <label for="companyName">Entreprise</label>
                                        <input id="companyName" name="companyName" type="text" class="form-control" placeholder="Entreprise" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactName">Nom du contact</label>
                                        <input id="contactName" name="contactName" type="text" class="form-control" placeholder="Nom du contact" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Téléphone</label>
                                        <input id="phone" name="phone" type="text" class="form-control" placeholder="Téléphone" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="zone">Categorie</label>
                                        <select class="form-control" id="category" name="category" rerquired>
                                            <option selected>Sélectionner une categorie</option>
                                            <option value="Plombier">Plombier</option>
                                            <option value="Chauffagiste">Chauffagiste</option>
                                            <option value="Technicien maintenance">Technicien maintenance</option>
                                            <option value="Menuisier">Menuisier</option>
                                            <option value="Eboueur">Eboueur</option>
                                            <option value="Technicien">Technicien</option>
                                            <option value="Technicien">Menage</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="buildings">Zône</label>
                                        <select multiple class="form-control" id="zones" name="zones">
                                            <option selected>Sélectionner une zone</option>
                                            <option value="Zone A">Zone A</option>
                                            <option value="Zone B">Zone B</option>
                                            <option value="Zone C">Zone C</option>
                                            <option value="Zone D">Zone D</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}