{% extends "views/layout.twig" %}

{% block title %}Liste des collaborateurs{% endblock %}

{% block content %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Start Welcome area -->
<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst">
                    <h4>Liste des collaborateurs</h4>
                    <div class="add-product">
                        <a href="/collaborators/add">Ajouter un collaborateur</a>
                    </div>
                    <div class="asset-inner">
                        <table>
                            <tr>
                                <th>Nom</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                                <th>Zône d'affectation</th>
                                <th>Fonction</th>
                                <th></th>
                            </tr>
                            {% for collaborator in collaborators %}
                                <tr>
                                    <td>{{ ("<i class='fa fa-circle color-blue'></i> " ~ collaborator.firstName ~ ' ' ~ collaborator.lastName) | trim }}</td>
                                    <td>{{ collaborator.phone }}</td>
                                    <td>{{ collaborator.email }}</td>
                                    <td>{{ collaborator.buildings|join(', ') }}</td>
                                    <td>{{ collaborator.role }}</td>
                                    <td>
                                        {% set collaboratorId = collaborator._id %}
                                        {% set modalId = "updateCollaboratorForm-" ~ collaborator._id %}
                                        {% set roleId = "role-" ~ collaborator._id %}
                                        {% set zoneId = "zone-" ~ collaborator._id %}
                                        {% set buildingId = "buildings-" ~ collaborator._id %}
                                        {% set action = "/collaborators/update/" ~ collaborator._id %}

                                        <button data-toggle="modal" data-id="{{ collaboratorId }}" title="Modifier" data-target="#{{ modalId }}" class="update-collaborator pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                        <div id="{{ modalId }}" class="modal modal-edu-general modal-zoomInDown fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="modal-login-form-inner">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="basic-login-inner modal-basic-inner">
                                                                        <h3>Modifier un collaborateur</h3>
                                                                        <form action="{{ action }}" method="POST">

                                                                            <input type="hidden" id="id" name="id" value="{{ collaboratorId }}" />
                                                                            <div class="form-group">
                                                                                <label for="{{ modalId }}">Fonction</label>
                                                                                <select class="form-control" id="{{ roleId }}" name="{{ roleId }}">
                                                                                    <option {% if collaborator.role == 'Gardien' %}selected{% endif %} value="Gardien">Gardien</option>
                                                                                    <option {% if collaborator.role == 'Chargé de proximité' %}selected{% endif %} value="Chargé de proximité">Chargé de proximité</option>
                                                                                    <option {% if collaborator.role == 'Manager' %}selected{% endif %} value="Manager">Manager</option>
                                                                                </select>
                                                                            </div>
                                    
                                                                            
                                                                            <div class="form-group">
                                                                                <label for="zone">Zone</label>
                                                                                <select class="form-control" id="{{ zoneId }}" name="{{ zoneId }}">
                                                                                    <option value="Toutes les zones">Toutes les zones</option>
                                                                                    <option value="Zone A">Zone A</option>
                                                                                    <option value="Zone B">Zone B</option>
                                                                                    <option value="Zone C">Zone C</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="buildings">Immeubles</label>
                                                                                <select class="form-control" id="{{ buildingId }}" name="{{ buildingId }}">
                                                                                </select>
                                                                            </div>


                                                                            <div class="login-btn-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                                        <div class="login-horizental">
                                                                                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                                                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Confirmer</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

const $zonesByBuildings = {
    "Toutes les zones" : ["Tous le Parc immobilier"],
    "Zone A" : ["Residence Riviera", "Residence Tahity"],
    "Zone B" : ["Residence Evo"],
    "Zone C" : ["Residence Carouge"]
};

$(".update-collaborator").click(function() {
    const collaboratorId = $(this).data("id");

    var $zone = $('#zone-' + collaboratorId),
        $buildings = $('#buildings-' + collaboratorId),
        $options = $buildings.find('option');

    $zone.on('change', function() {
        const $buildingValues = $zonesByBuildings[this.value];

        $buildings.empty();

        $.each($buildingValues, function(key, value) {   
            $buildings
                .append($("<option></option>")
                .attr("value", value)
                .text(value)); 
        });

    }).trigger('change');

});


</script>
{% endblock %}