{% extends "views/layout.twig" %}

{% block title %}Ajouter un collaborateur{% endblock %}

{% block content %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="review-content-section">
                    <div id="dropzone1" class="pro-ad">
                        <form action="/collaborator" method="POST" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        <label for="lastName">Nom</label>
                                        <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Nom" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName">Prénom</label>
                                        <input id="firstName" name="firstName" type="text" class="form-control" placeholder="Prénom">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email" name="email" type="text" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Téléphone</label>
                                        <input id="phone" name="phone" type="text" class="form-control" placeholder="Téléphone">
                                    </div>
                                    <div class="form-group">
                                        <label for="buildings">Zône d'affectation</label>
                                        <select class="form-control" id="buildings" name="buildings">
                                            <option value="Tous le Parc immobilier">Tous le Parc immobilier</option>
                                            <option value="Residence Riviera">Residence Riviera</option>
                                            <option value="Residence Tahity">Residence Tahity</option>
                                            <option value="Residence Evo">Residence Evo</option>
                                            <option value="Residence Carouge">Residence Carouge</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fonction">Fonction</label>
                                        <select class="form-control" id="role" name="role" required>
                                            <option selected>Sélectionner un rôle</option>
                                            <option value="Gardien">Gardien</option>
                                            <option value="Chargé de proximité">Chargé de proximité</option>
                                            <option value="Manager">Manager</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}